@import 'tailwindcss';

@theme {
  --color-univc-900: #0f2f4f;
  --color-univc-700: #1b4f7d;
  --color-univc-500: #2f7cb8;
  --color-univc-100: #e4eef7;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-100 text-slate-800 antialiased;
}
